CSpack.xcworkspace/contents.xcworkspacedata
CSpack.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
CSpack.xcworkspace/xcuserdata/jchluba.xcuserdatad/UserInterfaceState.xcuserstate
CSpack.xcworkspace/xcuserdata/jchluba.xcuserdatad/IDEFindNavigatorScopes.plist
CSpack.xcworkspace/xcuserdata/jchluba.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.o
*.a
CSpack_main
outputs/electron_losses.agr
outputs/electron_losses.dat
outputs/electron_losses_corrected.agr
outputs/photon_losses.agr
outputs/photon_losses.dat
outputs/CS_removal_DC_addition.dat
outputs/N_CS_removal_DC_addition.dat