.DS_Store
CSpack.xcworkspace/contents.xcworkspacedata
CSpack.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
CSpack.xcworkspace/xcuserdata/jchluba.xcuserdatad/UserInterfaceState.xcuserstate
CSpack.xcworkspace/xcuserdata/jchluba.xcuserdatad/IDEFindNavigatorScopes.plist
CSpack.xcworkspace/xcuserdata/jchluba.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.o
*.a
CSpack_main
outputs/electron_losses.agr
outputs/electron_losses.dat
outputs/electron_losses_corrected.agr
outputs/photon_losses.agr
outputs/photon_losses.dat
outputs/CS_removal_DC_addition.dat
outputs/N_CS_removal_DC_addition.dat
outputs/DI_CS_DC.pdf
outputs/DN_CS_DC.agr
outputs/DN_CS_DC.pdf
outputs/DN_CS_DC_corrected.agr
outputs/DN_CS_DC_corrected.pdf
outputs/DN_CS_DC_exact.agr
outputs/DN_CS_DC_exact.pdf
outputs/DN_CS_DC_exact_net.pdf
outputs/N_CS_removal_DC_addition_approx.dat
outputs/N_CS_removal_DC_addition_exact.dat
outputs/N_CS_removal_DC_addition_no_stim.dat
outputs/dI_CS_DC.agr
outputs/electron_losses.pdf
outputs/photon_losses.pdf